/********************************************/
/*** style and position the menu button *****/
/********************************************/

#menuToggle {
    float: right;
    padding: 2rem;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: black;
    border-radius: 3px;
    z-index: 1;
}

#myNav .closebtn {
    float: right;
    padding: 2rem;
}

#myNav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 10px;
    border-radius: 3px;
    background: white;
    transform-origin: 4px 0px;
}

#myNav span:first-child {
    transform: rotate(45deg) translate(-2px, -1px);
}

#myNav span:last-child {
    transform: rotate(-45deg) translate(-3px, -1px);
}

/********************************************/
/***** style the flyout fullscreen menu *****/
/********************************************/
.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.menu-links {
    display: grid;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    /* display: block; */
    transition: 0.3s;

}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* .overlay .closebtn {
    font-size: 60px;
    float: right;
    padding: 0 2rem;
  } */