@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,400;1,200&display=swap');
/* general styles */

:root {
    /* color palette */
    --main-dark-800: #222831;
    --main-dark-600: #393E46;
    --contrast: #FFD369;
    --light: #EEEEEE;

    /* font styles */
    --ff-main: 'Poppins', 'Arial', sans-serif;
    --ff-accent: 'Abril Fatface', serif;

    /* utility classes */
    --nav-height: 3rem;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-main);
}

h1,
h2 {
    font-family: var(--ff-accent);
}

h1 {
    font-size: clamp(5rem, 2.5000rem + 11.1111vw, 10rem);
}

h2 {
    font-size: clamp(3.313rem, 2.7195rem + 2.6378vw, 4.5rem);
}

h3 {
    font-size: 3.313rem;
}

/* light italic for dates? */

section {
    padding-top: var(--nav-height);
}

/********************************************/
/*** style and position the menu button *****/
/********************************************/
/* open */
#menuToggle {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
}

/* hide burger on desktop */
@media screen and (min-width: 600px) {
    #menuToggle {
        display: none;
    }
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: var(--contrast);
    border-radius: 3px;
    z-index: 1;
}

#myNav .closebtn {
    float: right;
    padding: 1.5rem;
}

/* close */
#myNav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 10px;
    border-radius: 3px;
    background: var(--contrast);
    transform-origin: 4px 0px;
}

#myNav span:first-child {
    transform: rotate(45deg) translate(-2px, -1px);
}

#myNav span:last-child {
    transform: rotate(-45deg) translate(-3px, -1px);
}

/********************************************/
/***** style the flyout fullscreen menu *****/
/********************************************/
.overlay {


    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: rgba(34, 40, 49, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.menu-links {
    display: grid;
}

.overlay a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--contrast);
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus,
.overlay a:active {
    color: var(--main-dark-800);
    background-color: #FFD369;
}

/* show topnav on desktop */
@media screen and (min-width: 600px) {
    #myNav {
        width: 100%;
    }

    .overlay {
        position: fixed;
        width: 100vw;
        height: var(--nav-height);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow-y: hidden;
    }

    .overlay-content {
        display: block;
        position: absolute;
        height: unset;
    }

    .menu-links {
        display: flex;
        justify-content: flex-end;
    }

    .overlay a {
        font-size: 1.1rem;
        width: 150px;
    }

    /* hide x closing btn */
    .closebtn {
        display: none;
    }
}

/********************************************/
/************* home section **************/
/********************************************/

#home {
    height: 100vh;
    background-image: url(./assets/bg/home-bg-small.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    text-align: center;
    align-items: center;
    color: var(--light);
}

/* animation for the main heading */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

/* ---------------------------------------- */
/*        animation tracking-in-expand      */
/* ---------------------------------------- */
@-webkit-keyframes tracking-in-expand {
 0% {
   letter-spacing: -0.5em;
   opacity: 0;
 }
 40% {
   opacity: 0.6;
 }
 100% {
   opacity: 1;
 }
}
@keyframes tracking-in-expand {
 0% {
   letter-spacing: -0.5em;
   opacity: 0;
 }
 40% {
   opacity: 0.6;
 }
 100% {
   opacity: 1;
 }
}

@media screen and (min-width: 600px) {
    #home {
        background-image: url(./assets/bg/home-bg-big.svg);
    }
}

/********************************************/
/************* gallery section **************/
/********************************************/

#gallery {
    background-color: black;
    color: yellow;
}

.img-gallery {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid red;
}

img {
    height: 100%;
}